/* CustomerList.css */

.customer-list-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .customer-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .customer-list-table th, .customer-list-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .customer-list-table th {
    background-color: #f2f2f2;
  }
  
  .customer-list-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
.input__wrapper  {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.input__wrapper  input {
  width: 50%;
}


.add__customer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add_btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sync_btn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}